.match {
  display: flex;
  flex-direction: row;
  padding: 1%;
  font-size: 0.11vh;
  .tier {
    width: 5vh;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}




// .out {
//   display: flex;
//   flex: 1;
//   position: relative;
//   z-index: 100;
//   height: 100%;
//  .in {
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     overflow: auto;
//     position: relative;
//     height: 100%;
//   }
// }