.header {
  display: flex;
  width: 100%; }

.left-section {
  display: flex; }

.mid-section {
  display: flex;
  min-width: 40px;
  flex: 1 9999 0%; }

.right-section {
  display: flex;
  flex-direction: row;
  flex: 1 0 0%;
  align-items: center;
  justify-content: flex-end; }

.logo {
  height: 3.5rem;
  background-color: #212529;
  width: 100%;
  line-height: 3.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center; }

.menu {
  background-color: #343a40;
  height: 3.5rem; }

.menu-item {
  display: inline-block;
  color: white;
  font-size: 1rem;
  line-height: 3.5rem;
  width: 33.3333%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none; }

.menu-item:hover {
  background-color: #495057; }

.menu-item:active, .menu-item.active {
  background-color: #1862ab; }

.Counter {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  color: white;
  font-size: 3rem;
  border-radius: 100%;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.75s; }

.search {
  height: 3.5rem;
  background-color: #212529;
  width: 100vw;
  line-height: 3.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center; }

.search > input {
  display: inline-block;
  color: black;
  font-size: 1rem;
  line-height: 3.5rem;
  width: 80%;
  text-align: center;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s;
  text-decoration: none; }

.search > button {
  display: inline-block;
  color: black;
  font-size: 1rem;
  line-height: 3.5rem;
  width: 20%;
  text-align: center;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s;
  text-decoration: none; }

button:hover {
  background-color: #495057;
  color: white; }

button:active, button.active {
  background-color: #1862ab; }


.login_form {
  width: 22%;
  padding: 40px 25px 40px;
  margin: 50px auto;
  background: #f8d348;
  display: flex;
  flex-direction: column;
  border-radius: 5px; }

.login_form > input {
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 10px 15px;
  margin-top: 15px; }

.login_form > svg {
  width: 100%;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 40px;
  align-self: center;
  transform-style: preserve-3d; }

.login_form > .login, .cancel {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 10px 15px;
  margin-top: 15px;
  color: #fff;
  background: #3d516b; }

.login:hover, .cancel:hover {
  background-color: #495057; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background: #3d516b; }

*, *:before, *:after {
  box-sizing: inherit; }

