.header {
  display: flex;
  color: red;
}

.left-section {
  display: flex;
}

.mid-section {
  display: flex;
  flex-direction: row;
  flex: 1 0 0%;
  align-items: center;
  justify-content: flex-end;
}

.right-section {
  display: inline-block;
  color: white;
  font-size: 1rem;
  line-height: 3.5rem;
  width: 33.3333%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}
.right-section:hover {
  background-color: #495057;
}

.right-section:active, .right-section.active {
  background-color: #1862ab;
}

.logo {
  background-color: #212529;
  padding: 5px;
  width: 100%;
  line-height: 3.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  background-color: #343a40;
}

.menu-item {
  display: inline-block;
  color: white;
  font-size: 1rem;
  line-height: 3.5rem;
  width: 33.3333%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #495057;
}

.menu-item:active, .menu-item.active {
  background-color: #1862ab;
}