.search {
  height: 3.5rem;
  background-color: #212529;
  width: 100vw;
  line-height: 3.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.search > input{
  display: inline-block;
  color: black;
  font-size: 1rem;
  line-height: 3.5rem;
  width: 80%;
  text-align: center;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s;
  text-decoration: none;
}

.search > button{
  display: inline-block;
  color: black;
  font-size: 1rem;
  line-height: 3.5rem;
  width: 20%;
  text-align: center;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s;
  text-decoration: none;
}

button:hover {
  background-color: #495057;
  color: white;
}

button:active, button.active {
  background-color: #1862ab;
}